footer{
    border-radius: 20px;
    padding-right: 65px;
    text-align: right;
    background: rgb(42,43,0);
    background: linear-gradient(90deg,rgb(214, 214, 214) 35%, rgb(129, 129, 129) 100%);
}